.section__about {
  background-color: $--c-white;
  color: $--c-black;
  height: auto;
  padding: 200px;
}

.section__about__main {
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin-bottom: 100px;

  p {
    font-size: 16px;
  }

  .section__about__content--left {
    // width: 620px;
  }

  .section__about__content--right {
    // width: 1600px;
  }
}

.section__about__image--main {
  position: relative;
  // width: 100%;

  img {
    border-radius: 8px;
    margin-bottom: 60px;
  }
}

.section__about__image--main:hover .section__about__image__caption {
  opacity: 1;
  transition: opacity 0.3s;
}

.section__about__image__caption {
  opacity: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  color: $--c-white;
  padding: 8px 20px 10px;
  bottom: 0;
  width: 100%;
}

.section__about__image__caption:hover {
  // width: 100%;
}

.section__about__contact {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 20px;
  padding: 24px;

  h2 {
    font-size: 38px;
    margin-bottom: 12px;
  }
}

.section__about__contact:hover {
  background-color: rgba(255, 255, 255, 0.7);
  transition: all .3s;
}

.section__about__contact__row {
  display: flex;
  flex-direction: row;
  align-items: center;

  h3 {
    font-size: 24px;
    font-weight: 400;
    margin-left: 8px;
  }

  img {
    height: 30px;
  }
}

.section__about__images {
  img {
    margin-bottom: 100px;
  }
}

.section__about__image--secondary {
  border-radius: 14px;
  // width: 100%;
}
