.album__container {
  background-color: $--c-white;
  color: $--c-black;
  min-height: 70vh;
  padding: 80px 100px 80px;

  h1 {
    // font-weight: 400;
  }

  button:hover {
    // filter: invert(80%);
  }
}

.album__toolbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 120px 0px 0px 40px;
  display: flex;
  flex-direction: column;
  background-color: $--c-white;
  width: 100%;
  z-index: 3;
  // transition: all 0.3s;

  .album__title {
    display: flex;
    flex-direction: row;
    gap: 2px;
    width: 86%;

    img {
      height: 26px;
      align-self: center;
      transform: rotate(90deg);
      cursor: pointer;
    }

    h1:first-letter {
      text-transform: uppercase;
    }

    button {
      all: unset;
      cursor: pointer;
    }

    button:hover {
      // border: $--border-focus;
    }
  }

  .album__toolbar__thumbnail-controls {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: auto;
    // align-items: flex-end;
    // margin: 0 70px 0 auto;
    // transition: all 0.3s;

    img {
      transform: rotate(0deg);
    }

    button {
      display: flex;
      padding: 12px;
      width: 32px;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.64);
      border: $--border-standard;
    }
  }
}

.album__toolbar--compact {
  padding: 80px 0px 14px 40px;
}

.album__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  // margin-left: 6px;
  margin-top: 140px;
  justify-content: center;
}

.album__card {
  opacity: 0.92;
  transition: all 0.3s;
  --webkit-transition: -webkit-filter 1000ms linear;
  cursor: pointer;

  img {
    width: inherit;
    height: inherit;
    object-fit: cover;

    //   margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  }
}

.shop__card__title {
  font-size: $--font-lg;
}

.album__card:hover {
  opacity: 1;

  img {
    // transform: scale(1.016);
    // transition: all 0.3s;
  }
}

.album__card--small {
  height: 200px;
  width: 280px;
}

.album__card--medium {
  height: 340px;
  width: 400px;
}

.album__card--large {
  height: auto;
  width: 70vw;
  padding-bottom: 100px;

  img {
    border-radius: 6px;
  }
}

.album__card__add-btn {
  position: relative;
  height: 0;

  button {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    // filter: invert(100%);
    border: 1px solid rgba(0, 0, 0, 0.3);
    bottom: 120px;
    right: 12px;
    opacity: 0.8;
  }
}

.album__preview {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 50vh;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 22px 20px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // top: 0;
  // left: 0;
  border: $--border-standard;
  border-radius: 4px;

  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 1);
  z-index: 7;
}

.album__preview__background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  // background-color: $--c-white;
  backdrop-filter: blur(1px);
  z-index: 6;
  cursor: pointer;
}

.album__preview-image {
  display: flex;
  flex-direction: column;

  img {
    // border: $--border-standard;
  }
}

.album__preview-image__picture {
  border-radius: 4px !important;
  object-fit: contain;
  height: 60vh;
  margin: 0 auto;
}

.album__preview-image__container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .album__preview__btn-close {
    position: relative;
    width: 28px;
    font-weight: 300;
    font-size: 18px;
    margin-left: auto;
    background-color: #fcfcfc;
  }

  .album__preview__btn-close:hover {
    // border: $--border-focus;
  }
}

.album__preview-image__tools {
  // position: absolute;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: auto;
  gap: 10vw;
  // top: 75vh;
  left: 0;
  width: 100%;
  padding: 10px 0;
  justify-content: center;
  z-index: 14;

  button {
    // all: unset;
    padding: 0;
    background-color: white;
    border-radius: 6px;

    img {
      // background-color: #ffffffb1
      padding: 8px;
      height: 48px;
      border-radius: 4px;
    }
  }

  button:hover {
    // outline: $--border-focus;
  }
}

.album__preview-image__tools__arrow {
  // position: absolute;
  // width: 40px;
  // height: 50px;
  // margin: 0 auto;
}

.album__preview-image__tools__arrow--prev {
  // right: 0;
  transform: rotate(90deg) !important;
}

.album__preview-image__tools__arrow--next {
  // left: 0;
  transform: rotate(270deg) !important;
}

.album__preview-image__tools__cart-add {
  // width: 10px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .album__container {
    padding: 10px 10px !important;

    h1 {
      font-size: $--font-lg;
    }
  }

  .album__toolbar {
    padding: 90px 0px 0px 40px;
  }

  .album__toolbar--compact {
    padding: 68px 0px 10px 40px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .album__toolbar__thumbnail-controls {
    display: none !important;
  }
  .album__cards {
    // height: 200px;
    width: 100%;
  }
  .album__card--small {
    height: auto;
    width: 100%;
  }

  // .album__preview__background {
  //   background-color: $--c-black !important;
  // }

  // .album__preview {
  //   background-color: rgba(0, 0, 0, 1);
  //   height: 100vh;
  //   border: none;
  // }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .album__container {
    padding: 60px 40px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .shop__container {
    padding: 100px 20px;
  }
}
