.album__container {
  background-color: $--c-white;
  color: $--c-black;
  height: auto;
  padding: 80px 100px 200px;

  h1 {
    // font-weight: 400;
  }
}

.album__toolbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0px;
  padding: 120px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  background-color: $--c-white;
  min-width: 90vw;
  z-index: 3;
  transition: all 0.3s;

  .album__title {
    display: flex;
    flex-direction: row;
    gap: 2px;
    // width: 50%;

    img {
      height: 26px;
      align-self: center;
      transform: rotate(90deg);
      cursor: pointer;
    }

    h1:first-letter {
      text-transform: uppercase;
    }

    button {
      all: unset;
      cursor: pointer;
    }
  }

  .album__toolbar__thumbnail-controls {
    display: flex;
    flex-direction: row;
    gap: 10px;
    // align-items: flex-end;
    margin: 0 70px 0 auto;

    img {
      transform: rotate(0deg);
    }

    button {
      display: flex;
      padding: 12px;
      width: 32px;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.64);
      border: 1px solid rgba(0, 0, 0, 0.2);
    }

    button:hover {
      background-color: white;
    }
  }
}

.album__toolbar--compact {
  padding: 80px 0px 20px 0px;
}

.album__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  margin-left: 6px;
  margin-top: 140px;
  justify-content: center;
}

.album__card {
  opacity: 0.92;
  transition: all 1s;
  --webkit-transition: -webkit-filter 500ms linear;

  img {
    width: inherit;
    height: inherit;
    object-fit: cover;

    //   margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}

.album__card:hover {
  opacity: 1;
  transition: all 0.3s;

  img {
    transform: scale(1.016);
    // z-index: 20;
    transition: all 0.3s;
  }
}

.album__card--small {
  height: 200px;
  width: 280px;
}

.album__card--medium {
  height: 340px;
  width: 400px;
}

.album__card--large {
  height: auto;
  width: 70vw;
  padding-bottom: 100px;

  img {
    border-radius: 6px;
  }
}

.album__card__add-btn {
  position: relative;
  height: 0;

  button {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    filter: invert(100%);
    border: 1px solid rgba(0, 0, 0, 0.3);
    bottom: 120px;
    right: 12px;
    opacity: .8;
  }
}

.album__preview {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 3;
}

.album__preview-image {
  width: 80vw;
  height: 50vh;
  object-fit: contain;
  cursor: pointer;
  border-radius: 6px;
}

.album__preview-image__tools {
  position: absolute;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: auto;
  gap: 10vw;
  // top: 75vh;
  left: 0;
  width: 100%;
  justify-content: center;
  z-index: 14;

  button {
    all: unset;
    background-color: white;
    border-radius: 4px;

    img {
      background-color: #ffffffb1;
      padding: 6px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      height: 44px;
      border-radius: 4px;
    }
  }
}

.album__preview-image__tools__arrow {
  // position: absolute;
  // width: 40px;
  // height: 50px;
  // margin: 0 auto;
}

.album__preview-image__tools__arrow--prev {
  // right: 0;
  transform: rotate(90deg) !important;
}

.album__preview-image__tools__arrow--next {
  // left: 0;
  transform: rotate(270deg) !important;
}

.album__preview-image__tools__cart-add {
  // width: 10px;
}

.album__preview__btn-close {
  position: relative;
  width: 24px;
  font-weight: 200;
  background-color: $--c-white;
}