.album__container {
  background-color: $--c-white;
  color: $--c-black;
  height: auto;
  padding: 180px 100px 200px;

  h1 {
    font-weight: 400;
  }

  h2 {
    font-size: $--font-md;
    font-weight: 500;
    margin: 8px 0 26px;
  }
}

.album__toolbar {
  position: fixed;
  top: 0px;
  padding: 120px 0 0;
  display: flex;
  flex-direction: column;
  background-color: $--c-white;
  width: 100vw;
  z-index: 3;

  .album__title {
    display: flex;
    flex-direction: row;
    gap: 2px;

    img {
      height: 26px;
      align-self: center;
      transform: rotate(90deg);
      cursor: pointer;
    }

    h1 {
      text-transform: capitalize;
    }
  }

  .album__toolbar__elements {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 10px;
  }

  .album__toolbar__element {
    display: flex;
    flex-direction: row;

    span {
      font-size: $--font-md;
      font-weight: 200;
    }

    img {
      height: 16px;
      align-self: center;
      margin-left: 4px;
    }
  }
}

.album__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  margin-left: 6px;
  margin-top: 140px;
  justify-content: left;
}

.album__card {
  width: 20vw;
  height: 220px;
  opacity: 0.9;

  img {
    width: inherit;
    height: inherit;
    object-fit: cover;

    //   margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  }
}

.album__card:hover {
  img {
    transform: scale(1.025);
    z-index: 20;
    transition: all 0.3s;
  }
}

.album__card:hover {
  opacity: 1;
  transition: all 0.3s;
}

.album__preview-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 3;

  img {
    width: 70vw;
    margin: 0 15%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.95;
  }
}

.album__preview-image__arrow {
  position: fixed;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 5;
}

.album__preview-image__arrow--prev {
  bottom: 20vh;
  right: 40vw;
  transform: rotate(270deg) !important;
}

.album__preview-image__arrow--next {
  bottom: 20vh;
  left: 40vw;
  transform: rotate(90deg) !important;
}
