.cart__container {
  padding: 180px 100px 200px;
  background-color: $--c-white;
  font-weight: 300;

  button {
    // all: unset;
  }
}

.cart__return {
  display: flex;
  flex-direction: row;
  gap: 6px;
  margin-bottom: 12px;

  img {
    height: 26px;
    align-self: center;
    transform: rotate(90deg);
    cursor: pointer;
    border: 0px;
  }

  h1 {
    // font-size: $--font-md;
    // font-weight: 500;
  }

  button {
    border: 0px;
    padding: 0;
    cursor: pointer;
  }
}

.cart__sections {
  display: flex;
  gap: 40px;
  // padding: 20px;

  button {
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
  }
}

.cart__images {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px;
  gap: 20px;
  width: 70%;
  margin: 0;
  background-color: white;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  transition: all 0.3s;

  .cart__image__labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 0 0 20px;
    text-align: center;

    .cart__image__labels--photo {
      width: 200px;
    }

    .cart__image__labels--preview {
      flex: 1;
    }

    .cart__image__labels--price {
      flex: 1;
    }

    .cart__image__labels--options {
      flex: 1;
    }
  }

  .cart__image {
    display: flex;
  }

  .cart__image__tools--image {
    width: 200px;
    border-radius: 4px;
  }

  .cart__image__tools--preview {
    width: 24px;
    align-items: center;
  }

  .cart__image__tools {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .cart__image__tools--price {
      text-align: center;
    }

    .cart__image__tools--button {
      text-align: center;

      button {
        margin: 0 auto;
      }
    }
  }

  .cart__image__tools--header {
    opacity: 0.8;
    font-weight: 200;
  }
}

.cart__summary {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  gap: 20px;
  width: 30%;
  height: 300px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  transition: all 0.2s;

  .cart__summary__price {
    font-size: $--font-md;
  }

  .cart__summary__button {
    width: 200px;
  }
}

.cart__images:hover,
.cart__summary:hover {
  border: 1px solid rgba(0, 0, 0, 0.4);
}
