.section__photos {
  padding: 0;
  margin: 0;
  background-color: $--c-white;
}

.section__photos__images img {
  padding: 0px !important;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  border-radius: 8px;
}

.section__photos__description {
  opacity: 0;
  position: relative;
  display: flex;
  justify-content: center;

  bottom: 100px;
  background: rgba(0, 0, 0, 0.4);
  color: $--c-white;
  backdrop-filter: blur(3px);
  padding: 20px;
}

.section__photos__images__image--vertical {
  height: 100%;
  width: auto;
  object-fit: scale-down !important;
}

.section__photos__images__image:hover .section__photos__description {
  opacity: 1;
  transition: opacity ease-in 0.3s;
}

.section__photos > .section__photos__images:not(:first-child) {
  margin: 200px 150px;
}

.section__photos__see-more {
  position: fixed;
  bottom: 16vh;
  right: 50%;
  opacity: 1;

  .section__photos__see-more__container {
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }

  .section__photos__see-more__icon img {
    height: 50px;
    transform: rotate(180deg);
  }
}

.section__photos__see-more--hidden {
  opacity: 0;
  transition: opacity 0.5s;
}
