.shop__container {
  background-color: $--c-white;
  color: $--c-black;
  height: auto;
  padding: 180px 100px 200px;

  h1 {
    font-weight: 400;
  }
}

.shop__toolbar {
  position: fixed;
  top: 0px;
  padding: 140px 0 0;
  display: flex;
  flex-direction: column;
  background-color: $--c-white;
  width: 100vw;
  z-index: 3;

  .shop__toolbar__title {
    display: flex;
    flex-direction: row;

    h1 {
      font-weight: 100;
      // margin-top: 20px;
    }

    span {
      font-weight: 400;
      text-transform: capitalize;
    }
  }

  .shop__toolbar__elements {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .shop__toolbar__element {
    // display: flex;
    // flex-direction: column;
    position: relative;
    display: inline-block;

    button {
      display: flex;
      width: 140px;
      background-color: #ffffff77;
      padding: 4px 16px;
      font-size: $--font-md;
      border: 2px solid gray;
      border-radius: 6px;
      justify-content: center;
    }

    span {
      font-size: $--font-md;
      font-weight: 200;
    }

    img {
      height: 16px;
      align-self: center;
      margin-left: 4px;
    }

    .shop__toolbar__element__list-items {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 200px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      padding: 10px 14px;
      //   z-index: 1;

      li {
        padding: 8px;
        width: 200px;
      text-transform: capitalize;
      }
    }
  }

  .shop__toolbar__element:hover .shop__toolbar__element__list-items {
    display: block;
  }
}

.shop__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px 0px;
  margin-left: 10px;
  margin-top: 140px;
  justify-content: left;
}

.shop__card {
  width: 240px;
  height: 180px;
  opacity: 0.9;

  img {
    width: 220px;
    height: inherit;
    object-fit: cover;

    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  }

  .shop__card__title {
    font-size: $--font-md;
    text-transform: capitalize;
  }

  .shop__card__date {
    font-size: $--font-sm;
    font-weight: 100;
  }
}

.shop__card:hover {
  opacity: 1;
  transition: all 1s;

  img {
    transform: scale(1.025);
    transition: ease-in-out 0.3s;
  }
}

.album__card:hover {
}
