.footer {
  height: auto;
  width: 100vw;
  // max-width: 100vw;
  padding: 40px 200px;
  background-color: rgb(40, 40, 40);
  display: flex;
  flex-direction: column;
  color: $--c-white;
  font-size: $--font-sm;
  line-height: 30px;
  overflow: hidden;
  font-weight: 100;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 6%;
}

.footer__logo {
  width: 180px;
}

.footer__column {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.footer__tags {
  span {
    opacity: 0.6;
  }
}

.footer__return {
  margin-left: auto;
  cursor: pointer;
}

.footer__social {
  display: flex;
  gap: 10px;
  margin: 26px 0;
  height: 40px;
  align-items: center;

  img {
    width: 30px;
  }
}

.footer__slogan {
  position: absolute;
  opacity: 0.7;
  font-size: 5vw;
  margin-top: 70px;
  right: 20%;
  // font-style: italic;
  font-weight: 100;
  // z-index: 5;
}

.footer__copyright {
  margin-top: 30px;
  font-size: $--font-sm;
  font-weight: 300;
  width: 100%;

  a span {
    display: flex;
    // align-items: center;
    justify-content: center;
    color: $--c-white;
  }
}


@media (max-width: 1024px) {
  .footer {
    padding: 20px 40px;
  }

  .footer__content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 6%;
  }

  .footer__tags {
    display: none;
  }

  .footer__slogan {
    // display: none;
  }
}
