.footer {
  position: relative;
  height: auto;
  width: 100vw;
  padding: 60px 200px;
  background-color: rgb(40, 40, 40);
  display: flex;
  flex-direction: column;
  color: $--c-white;
  font-size: $--font-sm;
  line-height: 30px;
  overflow: hidden;
  font-weight: 100;
  z-index: 2 !important;

  a {
    color: $--c-white;
  }
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 6%;
  z-index: 2;
}

.footer__logo {
  width: 180px;
}

.footer__column {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.footer__tags {
  span {
    opacity: 0.6;
  }

  a {
    color: $--c-white;
  }
}

.footer__return {
  margin-left: auto;
  cursor: pointer;
}

.footer__social {
  display: flex;
  gap: 10px;
  margin: 26px 0;
  height: 40px;
  align-items: center;

  img {
    width: 30px;
  }
}

.footer__slogan {
  position: absolute;
  opacity: 0.1;
  font-size: 5vw;
  margin-top: 100px;
  right: 20%;
  font-weight: 100;
  z-index: 1;
}

.footer__copyright {
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 4px 0;
  display: flex;
  justify-content: center;
  font-size: $--font-sm;
  font-weight: 200;
  width: 100%;
  opacity: 1;
  color: rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3 !important;

  a {
    transition: all 0.3s;
    color: rgba(231, 182, 255, 0.7);
  }

  a:hover {
    color: rgb(0, 255, 155);
  }
}
@media (max-width: 1024px) {
  .footer {
    padding: 20px 24px 80px;
  }

  .footer__logo {
    padding: 20px 0;
  }

  .footer__links {
    align-items: center;
  }

  .footer__slogan {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer__content {
    display: flex;
    flex-direction: column-reverse;
    gap: 6%;
  }

  .footer__column {
    margin: 0 auto;
  }

  .footer__tags {
    display: none;
  }

  .footer__return {
    position: absolute;
    right: 36px;
    top: 20px;
  }

  .footer__copyright {
    flex-direction: column;
    align-items: center;
    font-size: $--font-xs;
  }
}
