.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  padding: 50px 140px;
  width: 100vw;
  color: $--c-white;
  z-index: 10;
  // filter: invert(100%);
  // mix-blend-mode: hard-light;
  // mix-blend-mode: difference;

  // background: rgb(255,255,255);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, .9) 100%
  );


  .navbar__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0 100px;
    font-weight: $--font-medium;
    font-size: $--font-md;
  }

  .navbar__logo {
    width: 140px;
  }

  .navbar__section-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 80px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);

    a {
      display: flex;
      justify-content: center;
      color: $--c-white;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 200;
    }

    a:hover {
      color: rgb(200, 200, 200);
      transition: 0.3s ease-in-out;
      text-shadow: 0px 0px 1px rgb(0, 0, 0);
    }
  }

  .navbar__section-link__shop {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 3px 30px;
  }

  .navbar__shop-icons {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    height: 40px;
    cursor: pointer;
    gap: 10px;
  }
}

.navbar--solid {
  padding: 10px 80px;
  background-color: rgba(20, 20, 20, 0.9);
  transition: 0.5s ease-in-out;

  .navbar__content {
    font-size: 16px;
    transition: ease-in .3s;
  }
}















.navbar--dark {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  // background: rgba(255, 255, 255, 0.439);
  color: $--c-black;

  a {
    color: $--c-black !important;
  }

  a:hover {
    color: $--c-black;
  }

  .navbar__logo {
    filter: invert(1);
  }

  .navbar__section-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 80px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
  }

  .navbar__section__dropdown:hover .navbar__section__dropdown-link {
    background-color: rgba(208, 208, 208, 0.3);
    color: $--c-black;
    font-weight: 500;
  }
}

.navbar__section__dropdown {
  padding: 0;
  margin: 0 20px 0 0;
  width: 110px;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
  cursor: pointer;
}

.navbar__section__dropdown-link {
  display: flex;
  opacity: 0;
  flex-direction: column;
  // position: absolute;
  font-size: $--font-md;
  font-weight: 300;
  margin-top: 4px;
  transition: all 0.3s;
}

.navbar__section__dropdown:hover .navbar__section__dropdown-link {
  opacity: 1;
  background-color: rgba(40, 40, 40, 0.9);
  padding: 4px;
}

.navbar__darkmode-toggle {
  height: 28px;
  // border-radius: 40px;
  // border: 3px solid white;
  // background-color: white;
}
