//--------------------
//portfolio navbar
//--------------------

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  padding: 60px 100px;
  width: 100%;
  color: $--c-white;
  z-index: 10;
  // filter: invert(100%);

  // mix-blend-mode: hard-light;
  // mix-blend-mode: difference;

  // background: rgb(255,255,255);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0.9) 100%
  );

  .navbar__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 24px;
  }

  .navbar__logo {
    width: 200px;
    // height: 140px;
    display: flex;
    align-items: center;
  }

  .navbar__section-link {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 0 auto;
    width: auto;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);

    a {
      display: flex;
      justify-content: center;
      color: $--c-white;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 200;
    }

    a:hover {
      color: rgb(200, 200, 200);
      transition: 0.3s ease-in-out;
      text-shadow: 0px 0px 1px rgb(0, 0, 0);
    }
  }

  .navbar__section-link__shop {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 3px 30px;
  }

  .navbar__shop-icons {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    height: 40px;
    cursor: pointer;
    gap: 10px;
  }
}

.navbar--solid {
  padding: 16px 60px;
  background-color: rgba(20, 20, 20, 0.9);
  transition: 0.7s ease-in-out;

  .navbar__logo {
    width: 140px;
    transition: 0.5s ease-in-out;
  }

  .navbar__content {
    font-size: 16px;
    transition: ease-in 0.3s;
  }
}

.navbar__menu__button {
  all: unset; //unset all styles
  display: none; //do not render in desktop mode
  // border: 1px solid rgba(255, 255, 255, 0.5);
  justify-content: center;
  position: fixed;
  left: 12vw;
  top: 4vh;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.7));
  // border: 1px solid rgba(255, 255, 255, 0.7);
  z-index: 5;
}

.navbar__menu__button--open {
  img {
    height: 50px;
  }
}

.navbar__menu__button--close {
  top: 5vh;

  img {
    height: 40px;
  }
}

.navbar--show {
  display: flex !important;
}

.mobile__logo {
  display: none;
}

.navbar--invert {
  //nverted color palette for 'about me' and shop pages
  filter: invert(100%);
}

//--------------------
//shop navbar
//--------------------

.navbar__shop {
  // background: white;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px 100px;
  // border: 2px solid red;
  z-index: 10;
}

.navbar__shop__logo {
  width: 140px;
  filter: invert(100%);
}

.navbar__shop__userinfo {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
  gap: 10px;
  font-weight: 300;
}

.navbar__shop__icons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 10px;
  align-items: center;

  img {
    width: 36px;
    cursor: pointer;

  }

  .navbar__shop__icon__cart {
    position: relative;

    .navbar__shop__icon__cart__count {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      color: white;
      font-size: $--font-sm;
      width: 22px;
      height: 22px;
      border-radius: 100px;
      padding: 4px;
      right: -10px;
      top: -10px;
    }
  }
}

.navbar__shop--shrink {
}

/* Media Query for small monitors */
@media (max-width: 1440px) {
  .navbar {
    // background-color: pink;width:
  }

  .navbar__content {
    // padding: 0;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (max-width: 1024px) {
  .navbar {
    // background-color: blue;
    // all: unset;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100%;
    padding: 0;
    transition: 0.3s;

    .navbar__logo {
      display: none;
      // margin-bottom: 20px;
    }

    .navbar__content {
      flex-direction: column;
      gap: 4px;
      width: 100vw;

      .navbar__section-link {
        // width: 100%;
        width: 100vw;
        font-size: $--font-xl;
        a {
          width: 100%;
          padding: 16px;
          border: none;
        }

        a:hover {
          background-color: black;
        }
      }
    }
  }

  .navbar__menu__button {
    // all: unset; //unset all styles
    display: flex; //do not render in desktop mode
    // border: 1px solid rgba(255, 255, 255, 0.5);
    // height: 40px;
    // width: 60px;
  }

  .mobile__logo {
    position: fixed;
    display: flex;
    right: 12vw;
    top: 4.4vh;
    width: 100px;
    transition: 0.5s ease-in-out;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.7));
    z-index: 5;
  }

  .navbar--invert {
    //nverted color palette for 'about me' page
    filter: invert(5%);
    background-color: black;
  }
}
/* Media Query for low resolution Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .navbar {
    // background-color: yellow;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .navbar {
    // background-color: red;
  }
}
