//--------------------
//portfolio navbar
//--------------------

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  padding: 60px 100px;
  width: 100%;
  color: $--c-white;
  z-index: 10;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.9) 100%
  );
  transition: all 0.3s;

  .navbar__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 24px;
  }

  .navbar__logo {
    width: 200px;
    // height: 140px;
    display: flex;
    align-items: center;
  }

  .navbar__section-link {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 0 auto;
    width: auto;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);

    a {
      display: flex;
      justify-content: center;
      color: $--c-white;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 200;
    }

    a:hover {
      color: rgb(200, 200, 200);
      transition: 0.3s ease-in-out;
      text-shadow: 0px 0px 1px rgb(0, 0, 0);
    }
  }

  .navbar__section-link__shop {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 3px 30px;
  }

  .navbar__shop-icons {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    height: 40px;
    cursor: pointer;
    gap: 10px;
  }
}

.navbar--solid {
  padding: 16px 60px;
  background-color: rgba(20, 20, 20, 0.9);

  .navbar__logo {
    width: 140px;
  }

  .navbar__content {
    font-size: 16px;
  }
}

.navbar__menu__button {
  all: unset; //unset all styles
  display: none; //do not render in desktop mode
  justify-content: center;
  position: fixed;
  left: 12vw;
  top: 4vh;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.7));
  z-index: 5;
}

.navbar__menu__button--open {
  img {
    height: 50px;
  }
}

.navbar__menu__button--close {
  top: 5vh;

  img {
    height: 40px;
  }
}

.navbar--show {
  display: flex !important;
}

.mobile__logo {
  display: none;
}

.navbar--invert {
  //inverted color palette for 'about me' and shop pages
  filter: invert(100%);
}

//--------------------
//shop navbar
//--------------------

.navbar__shop {
  // background: white;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px 50px;
  z-index: 10;
  transition: linear 0.3s;
  animation: fadeIn 0.3s;
}

.navbar__shop__logo {
  display: flex;
  width: 140px;
  filter: invert(100%);
  align-items: center;
  justify-content: center;
}

.navbar__shop__content {
  transition: all 0.3s;
}

.navbar__shop__header {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 26px;
  font-weight: 300;
  margin-left: 16px;
}

.navbar__shop__userinfo {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
  gap: 10px;
  font-weight: 300;

  span {
    text-transform: capitalize;
  }

  .navbar__shop__language {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;

    gap: 6px;
    button {
      all: unset;
    }

    img {
      width: 20px;
    }

    .navbar__shop__language__content {
      display: none;
      flex-direction: column;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.6);
      width: 60px;
      height: auto;
      top: 8px;
      left: -18px;
      align-items: center;
      border: $--border-standard;
      border-radius: 4px;
      box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);

      li {
        line-height: 200%;
        width: 100%;
        padding: 4px 0px 4px 18px;
      }
    }

    .navbar__shop__language__content li:hover {
      background-color: #74ff78;
    }
  }

  .navbar__shop__language:hover .navbar__shop__language__content {
    display: flex;
  }
}

.navbar__shop__userinfo--main-page {
  img {
    filter: invert(90%);
  }

  li {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.navbar__shop__icons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 10px;
  align-items: center;

  img {
    width: 36px;
    cursor: pointer;
  }

  .navbar__shop__icon__cart {
    position: relative;

    .navbar__shop__icon__cart__count {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      color: white;
      font-size: $--font-sm;
      width: 22px;
      height: 22px;
      border-radius: 100px;
      padding: 4px;
      right: -10px;
      top: -10px;
    }
  }
}

.navbar__shop--shrink {
  padding: 10px 40px 10px 20px;
  background-color: rgba(255, 255, 255, 0.8);

  .navbar__shop__logo {
    img {
      width: 100px;
    }
  }

  .navbar__content {
    font-size: 16px;
    transition: all 0.3s;
  }

  .navbar__shop__icons {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 10px;
    align-items: center;

    img {
      cursor: pointer;
    }
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (max-width: 1024px) {
  .navbar {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100%;
    padding: 0;
    transition: 0.3s;

    .navbar__logo {
      display: none;
    }

    .navbar__content {
      flex-direction: column;
      gap: 4px;
      margin-top: -10vh;
      width: 100vw;

      .navbar__section-link {
        width: 100vw;
        font-size: $--font-xl;

        a {
          width: 100%;
          padding: 12px;
          border: none;
        }

        a:hover {
          background-color: black;
        }
      }
    }

    .navbar__shop__userinfo {
      padding: 16px;
      font-size: $--font-lg;
      justify-content: center;
      width: 100vw;
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    }
  }

  .navbar__menu__button {
    // all: unset; //unset all styles
    display: flex; //do not render in desktop mode
    // border: 1px solid rgba(255, 255, 255, 0.5);
    // height: 40px;
    // width: 60px;
  }

  .mobile__logo {
    position: fixed;
    display: flex;
    right: 12vw;
    top: 4.4vh;
    width: 100px;
    transition: 0.5s ease-in-out;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.7));
    z-index: 5;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .navbar {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.9) 100%
    );
  }

  .navbar__shop {
    padding: 10px 40px 10px 40px;
  }

  .navbar__shop__logo {
    width: 100px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .navbar__shop__header {
    font-size: 20px;
    font-weight: 300;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .navbar__shop {
    padding: 12px 20px;
  }

  .navbar__shop--shrink {
    padding: 6px 20px;
    background-color: rgba(255, 255, 255, 0.8);

    .navbar__shop__logo {
      width: 100px;
      // transition: 0.5s ease-in-out;
    }

    .navbar__content {
      font-size: 16px;
      // transition: ease-in 0.3s;f
    }
  }
}
