.order-form__container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  max-height: 500px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.16);
}

.order-form__content {
  form {
    display: flex;
    flex-direction: column;
  }

  label {
    display: flex;
    flex-direction: column;
    margin: 6px 0;
  }

  input {
    // margin: 10px 0px;
    width: 200px;
  }

  .order-form__content__group {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .order-form__content__checkbox {
    display: flex;
    flex-direction: row;
    gap: 6px;
    // align-items: center;

    label {
      display: block;

      a {
        color: rgb(200, 0, 0);
      }
    }

    input {
      width: auto;
    }
  }
}
