// general

@import './reset'; // global css reset
@import './variables'; // style variables container for colors, fonts and other global styles

// pages
@import '../pages/styles/_SectionWelcome';
@import '../pages/styles/_SectionContent';
@import '../pages/styles/_About';
@import '../pages/styles/_Shop';
@import '../pages/styles/_Album';
@import '../pages/styles/_Cart';
@import '../pages/styles/_SignIn';

// components
@import '../components/styles/_Navbar';
@import '../components/styles/_Footer';
@import '../components/styles/_LoadingSpinner';
@import '../components/styles/_Alert';

html * {
    // outline: 1px solid brown;
}

html {
  overflow-x: hidden;
}

body {
  font-family: $--font-main;
  color: $--c-black;
  background-color: $--c-black;
  // min-width: 600px;
  // overflow: hidden;
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6,p,a {
  // font-family: $--font-main;
}

h1 {
  font-weight: thin;
}

a {
  text-decoration: none;
  color: $--c-black;
}

ul {
  padding: 0;
}

img {
  //disable image copy/drag
  pointer-events: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: $--c-white;
  border-radius: 10px;
  border: 2px solid slategray;
}
