/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.section__welcome {
  -webkit-animation: 3s ease-out 0s 1 fadeIn;
          animation: 3s ease-out 0s 1 fadeIn;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cover__icons {
  position: fixed;
  bottom: 10vh;
  right: 5vw;
  z-index: 10;
}

.cover__icons .cover__icons__row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.3));
}

.cover__icons .cover__icons__row-container .cover__icons__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

.cover__icons .cover__icons__row-container .cover__icons__social img {
  height: 40px;
}

.cover__image {
  height: 100vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.cover__icons__nav--left,
.cover__icons__nav--right {
  opacity: 0.7;
}

.control-arrow {
  width: 80px;
  opacity: 1 !important;
}

.control-dots li .dot {
  height: 10px;
  border: 3px solid white !important;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section__photos {
  padding: 0 0 1px 0;
  margin: 0;
  background-color: #f2f2f2;
}

.section__photos__images img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.section__photos > .section__photos__images:first-child {
  margin-bottom: 60px;
}

.section__photos > .section__photos__images:not(:first-child) {
  margin: 0 150px 100px;
  height: auto;
  width: auto;
}

.section__photos > .section__photos__images:not(:first-child) img {
  height: 80vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.section__photos__images__image--vertical {
  height: 100%;
  width: auto;
  -o-object-fit: scale-down !important;
     object-fit: scale-down !important;
}

.section__photos__description {
  opacity: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 70vw;
  margin: 0 auto;
  bottom: 120px;
  text-align: center;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.4);
  color: #f2f2f2;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 20px;
}

.section__photos__images__image:hover .section__photos__description {
  opacity: 1;
  -webkit-transition: opacity ease-in 0.3s;
  transition: opacity ease-in 0.3s;
}

.section__photos__see-more {
  position: fixed;
  bottom: 8vh;
  right: 10vw;
  opacity: 1;
}

.section__photos__see-more .section__photos__see-more__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

.section__photos__see-more .section__photos__see-more__icon img {
  height: 60px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section__photos__see-more--hidden {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

@media (max-width: 767px) {
  .section__photos > .section__photos__images:not(:first-child) {
    margin: 0 15px 50px;
    padding: 0;
    height: auto;
  }
  .section__photos > .section__photos__images:not(:first-child) img {
    height: 100%;
  }
  .section__photos__description {
    opacity: 1;
    font-size: 10px;
    font-weight: 300;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.3);
    color: #3a3939;
    -webkit-backdrop-filter: unset;
            backdrop-filter: unset;
    padding: 10px;
  }
  .section__photos__preview {
    position: fixed;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
  }
  .section__photos__preview .section__photos__preview__image {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
  .section__photos__images__image--mobile {
    height: 100vh;
    width: 100vw;
    margin-bottom: 20px;
  }
  .section__photos__images__image--mobile img {
    height: 100vh;
    width: 100vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.section__about {
  background-color: #f2f2f2;
  color: #3a3939;
  height: auto;
  padding: 200px;
}

.section__about h1 {
  font-weight: 300;
}

.section__about__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 80px;
  margin-bottom: 100px;
}

.section__about__main p {
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  margin-top: 16px;
}

.section__about__main .section__about__content--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.section__about__image--main {
  position: relative;
}

.section__about__image--main img {
  outline: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  margin-bottom: 60px;
}

.section__about__image__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  color: #f2f2f2;
  font-weight: 100;
  text-align: center;
  line-height: 1.3;
  padding: 8px 20px 10px;
  bottom: 0;
  width: 100%;
}

.section__about__contact {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 20px;
  padding: 24px;
}

.section__about__contact h2 {
  font-size: 38px;
  margin-bottom: 12px;
}

.section__about__contact:hover {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section__about__contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__about__contact__row h3 {
  font-size: 24px;
  font-weight: 400;
  margin-left: 8px;
}

.section__about__contact__row img {
  height: 30px;
}

.section__about__contact__row:hover {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.section__about__contact__row:hover a,
.section__about__contact__row:hover h3 {
  color: black;
}

.section__about__images img {
  margin-bottom: 100px;
}

.section__about__image--secondary {
  border-radius: 14px;
}

.about__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0 0;
}

.about__icons h3 {
  margin: 0 8px 8px 0;
}

.about__icons .about__icons__row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

.about__icons .about__icons__row-container .about__icons__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

.about__icons .about__icons__row-container .about__icons__social img {
  height: 30px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  cursor: pointer;
}

.about__icons .about__icons__row-container .about__icons__social .about__icon__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1024px) {
  .section__about {
    padding: 10px 30px;
    width: 100vw;
  }
  .section__about__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .section__about__main p {
    font-size: 14px;
    font-weight: 300;
  }
  .section__about__main .section__about__image--main img {
    border-radius: 8px;
    margin-bottom: 60px;
  }
  .section__about__main .section__about__contact {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 14px;
  }
  .section__about__main .section__about__contact h2 {
    font-size: 28px;
    margin-bottom: 8px;
    font-weight: 200;
  }
  .section__about__main .section__about__contact:hover {
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .section__about__main .section__about__contact__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__about__main .section__about__contact__row h3 {
    font-size: 20px;
    font-weight: 500;
    margin-left: 8px;
  }
  .section__about__main .section__about__contact__row img {
    height: 24px;
  }
  .section__about__main .about__icons {
    margin: 20px 0 0;
  }
  .section__about__main .about__icons h3 {
    font-weight: 300;
    font-size: 18px;
  }
  .section__about__image__caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    color: #f2f2f2;
    font-size: 14px;
    padding: 8px 20px 10px;
    bottom: 0;
    width: 100%;
  }
}

.shop__container {
  background-color: #f2f2f2;
  color: #3a3939;
  min-height: 100vh;
  padding: 180px 100px 200px;
}

.shop__toolbar {
  position: fixed;
  top: 0px;
  padding: 140px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f2f2;
  width: 100vw;
  z-index: 3;
}

.shop__toolbar .shop__toolbar__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.shop__toolbar .shop__toolbar__title h1 {
  font-weight: 100;
}

.shop__toolbar .shop__toolbar__title span {
  font-weight: 400;
  text-transform: capitalize;
}

.shop__toolbar .shop__toolbar__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.shop__toolbar .shop__toolbar__element {
  position: relative;
  display: inline-block;
}

.shop__toolbar .shop__toolbar__element button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  background-color: #ffffff77;
  padding: 4px 16px;
  font-size: 18px;
  border: 2px solid gray;
  border-radius: 6px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop__toolbar .shop__toolbar__element span {
  font-size: 18px;
  font-weight: 200;
}

.shop__toolbar .shop__toolbar__element img {
  height: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 4px;
}

.shop__toolbar .shop__toolbar__element .shop__toolbar__element__list-items {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 10px 14px;
}

.shop__toolbar .shop__toolbar__element .shop__toolbar__element__list-items li {
  padding: 8px;
  width: 200px;
  text-transform: capitalize;
}

.shop__toolbar .shop__toolbar__element:hover .shop__toolbar__element__list-items {
  display: block;
}

.shop__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 100px 0px;
  margin-left: 10px;
  margin-top: 140px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.shop__cards ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 100px 0px;
}

.shop__card {
  width: 380px;
  height: 280px;
  opacity: 0.9;
}

.shop__card img {
  width: 360px;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
}

.shop__card .shop__card__title {
  font-size: 18px;
  text-transform: capitalize;
}

.shop__card .shop__card__date {
  font-size: 14px;
  font-weight: 100;
}

.shop__card:hover {
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.shop__card:hover img {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.album__container {
  background-color: #f2f2f2;
  color: #3a3939;
  height: auto;
  padding: 140px 100px 200px;
}

.album__toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  top: 0px;
  padding: 140px 0px 20px 0px;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background-color: #f2f2f2;
  min-width: 90vw;
  z-index: 3;
}

.album__toolbar .album__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2px;
}

.album__toolbar .album__title img {
  height: 26px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
}

.album__toolbar .album__title h1:first-letter {
  text-transform: uppercase;
}

.album__toolbar .album__title button {
  all: unset;
  cursor: pointer;
}

.album__toolbar .album__toolbar__thumbnail-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  margin: 0 200px 0 auto;
}

.album__toolbar .album__toolbar__thumbnail-controls img {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.album__toolbar .album__toolbar__thumbnail-controls button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  width: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.64);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.album__toolbar .album__toolbar__thumbnail-controls button:hover {
  background-color: white;
}

.album__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 6px;
  margin-left: 6px;
  margin-top: 140px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.album__card {
  opacity: 0.92;
}

.album__card img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.album__card:hover {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.album__card:hover img {
  -webkit-transform: scale(1.016);
          transform: scale(1.016);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.album__card--small {
  height: 200px;
  width: 280px;
}

.album__card--medium {
  height: 340px;
  width: 400px;
}

.album__card--large {
  height: auto;
  width: 80vw;
}

.album__preview {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 3;
}

.album__preview-image {
  width: 60vw;
  cursor: pointer;
  border-radius: 6px;
}

.album__preview-image__tools {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  width: auto;
  gap: 10vw;
  top: 75vh;
  left: 0;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 14;
}

.album__preview-image__tools button {
  all: unset;
  background-color: white;
  border-radius: 4px;
}

.album__preview-image__tools button img {
  background-color: #ffffffb1;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 44px;
  border-radius: 4px;
}

.album__preview-image__tools__arrow--prev {
  -webkit-transform: rotate(90deg) !important;
          transform: rotate(90deg) !important;
}

.album__preview-image__tools__arrow--next {
  -webkit-transform: rotate(270deg) !important;
          transform: rotate(270deg) !important;
}

.cart__container {
  padding: 180px 100px 200px;
  background-color: #f2f2f2;
  font-weight: 300;
}

.cart__return {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 6px;
  margin-bottom: 12px;
}

.cart__return img {
  height: 26px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
  border: 0px;
}

.cart__return button {
  border: 0px;
  padding: 0;
  cursor: pointer;
}

.cart__sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.cart__sections button {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
}

.cart__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
  gap: 20px;
  width: 70%;
  margin: 0;
  background-color: white;
}

.cart__images .cart__image__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 0 0 20px;
  text-align: center;
}

.cart__images .cart__image__labels .cart__image__labels--photo {
  width: 200px;
}

.cart__images .cart__image__labels .cart__image__labels--price {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.cart__images .cart__image__labels .cart__image__labels--options {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cart__images .cart__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__images .cart__image__tools--image {
  width: 200px;
  border-radius: 4px;
}

.cart__images .cart__image__tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.cart__images .cart__image__tools .cart__image__tools--price {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  text-align: center;
}

.cart__images .cart__image__tools .cart__image__tools--button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.cart__images .cart__image__tools .cart__image__tools--button button {
  margin: 0 auto;
}

.cart__images .cart__image__tools--header {
  opacity: 0.8;
  font-weight: 200;
}

.cart__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 20px;
  gap: 20px;
  width: 30%;
  height: 300px;
}

.cart__summary .cart__summary__price {
  font-size: 18px;
}

.cart__summary .cart__summary__button {
  width: 200px;
}

.signin__container {
  background-color: rgba(255, 255, 255, 0.85);
  color: #3a3939;
  padding: 180px 100px 200px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 14px;
}

.signin__container h1 {
  font-weight: 400;
}

.signin__container h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 8px 0 26px;
}

.signin__container--create-account .signin__form {
  background-color: rgba(253, 255, 230, 0.85);
}

.signin__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px auto;
  padding: 20px 0;
  width: 400px;
  border: 1px solid rgba(0, 255, 85, 0.15);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
}

.signin__form label {
  padding: 0 0 2px 16px;
  font-size: 16px;
}

.signin__form input {
  all: unset;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 8px 16px;
  width: 300px;
}

.signin__form ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

.signin__form .signin__form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8px;
}

.signin__form button {
  all: unset;
  padding: 6px 26px;
  margin-top: 22px;
  background-color: rgba(165, 254, 183, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.signin__form button:hover {
  background-color: #46ff6b;
}

.signin__form__create-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.signin__form__create-account button {
  all: unset;
  padding: 6px 26px;
  margin-top: 22px;
  background-color: rgba(165, 250, 254, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

.checkout__container {
  background-color: rgba(255, 255, 255, 0.85);
  color: #3a3939;
  min-height: 70vh;
  padding: 180px 100px 200px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 14px;
}

.checkout__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0 0;
}

.checkout__items .checkout__items__image {
  max-width: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.checkout__items .checkout__items__image img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 120px;
  border-radius: 4px;
}

.checkout__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  padding: 10px;
  margin: 0 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.7);
}

.checkout__summary__cart {
  padding: 20px;
  border-radius: 6px;
}

.checkout__total {
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 200px;
  padding: 14px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.checkout__total span {
  font-size: 18px;
}

.success__container {
  background-color: rgba(255, 255, 255, 0.85);
  color: #3a3939;
  min-height: 70vh;
  padding: 180px 100px 200px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 14px;
}

.terms__container {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 180px 100px 200px;
  height: auto;
}

.cookies__container {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 180px 100px 200px;
  height: auto;
}

.navbar {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 60px 100px;
  width: 100%;
  color: #f2f2f2;
  z-index: 10;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.9) 100%);
}

.navbar .navbar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

.navbar .navbar__logo {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar__section-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.navbar .navbar__section-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f2f2f2;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 200;
}

.navbar .navbar__section-link a:hover {
  color: #c8c8c8;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-shadow: 0px 0px 1px black;
}

.navbar .navbar__section-link__shop {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 3px 30px;
}

.navbar .navbar__shop-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: auto;
  height: 40px;
  cursor: pointer;
  gap: 10px;
}

.navbar--solid {
  padding: 16px 60px;
  background-color: rgba(20, 20, 20, 0.9);
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.navbar--solid .navbar__logo {
  width: 140px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.navbar--solid .navbar__content {
  font-size: 16px;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.navbar__menu__button {
  all: unset;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  left: 12vw;
  top: 4vh;
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.7));
  z-index: 5;
}

.navbar__menu__button--open img {
  height: 50px;
}

.navbar__menu__button--close {
  top: 5vh;
}

.navbar__menu__button--close img {
  height: 40px;
}

.navbar--show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.mobile__logo {
  display: none;
}

.navbar--invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.navbar__shop {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 20px 100px;
  z-index: 10;
}

.navbar__shop__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar__shop__userinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 300;
}

.navbar__shop__userinfo span {
  text-transform: capitalize;
}

.navbar__shop__userinfo .navbar__shop__userinfo__usermenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 6px;
}

.navbar__shop__userinfo .navbar__shop__userinfo__usermenu button {
  all: unset;
}

.navbar__shop__userinfo .navbar__shop__userinfo__usermenu img {
  width: 20px;
}

.navbar__shop__userinfo .navbar__shop__userinfo__usermenu .navbar__shop__userinfo__usermenu__content {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  width: 180px;
  height: auto;
  top: 20px;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 6px 12px;
  -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.navbar__shop__userinfo .navbar__shop__userinfo__usermenu .navbar__shop__userinfo__usermenu__content li {
  line-height: 200%;
}

.navbar__shop__userinfo .navbar__shop__userinfo__usermenu .navbar__shop__userinfo__usermenu__content .navbar__shop__userinfo__usermenu__content__logout {
  padding: 4px 0;
  margin: 8px 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar__shop__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: auto;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__shop__icons img {
  width: 36px;
  cursor: pointer;
}

.navbar__shop__icons .navbar__shop__icon__cart {
  position: relative;
}

.navbar__shop__icons .navbar__shop__icon__cart .navbar__shop__icon__cart__count {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  color: white;
  font-size: 14px;
  width: 22px;
  height: 22px;
  border-radius: 100px;
  padding: 4px;
  right: -10px;
  top: -10px;
}

.navbar__shop--shrink {
  padding: 10px 60px;
  background-color: rgba(255, 255, 255, 0.97);
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.navbar__shop--shrink .navbar__shop__logo {
  width: 100px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.navbar__shop--shrink .navbar__content {
  font-size: 16px;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

/* Media Query for small monitors */
/* Media Query for Tablets Ipads portrait mode */
@media (max-width: 1024px) {
  .navbar {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    height: 100vh;
    width: 100%;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .navbar .navbar__logo {
    display: none;
  }
  .navbar .navbar__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4px;
    width: 100vw;
  }
  .navbar .navbar__content .navbar__section-link {
    width: 100vw;
    font-size: 24px;
  }
  .navbar .navbar__content .navbar__section-link a {
    width: 100%;
    padding: 16px;
    border: none;
  }
  .navbar .navbar__content .navbar__section-link a:hover {
    background-color: black;
  }
  .navbar__menu__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile__logo {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 12vw;
    top: 4.4vh;
    width: 100px;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.7));
            filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.7));
    z-index: 5;
  }
  .navbar--invert {
    -webkit-filter: invert(5%);
            filter: invert(5%);
    background-color: black;
  }
}

/* Media Query for low resolution Tablets, Ipads */
/* Media Query for Mobile Devices */
.footer {
  height: auto;
  width: 100vw;
  padding: 40px 200px;
  background-color: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f2f2f2;
  font-size: 14px;
  line-height: 30px;
  overflow: hidden;
  font-weight: 100;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 6%;
}

.footer__logo {
  width: 180px;
}

.footer__column {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__tags span {
  opacity: 0.6;
}

.footer__tags a {
  color: #f2f2f2;
}

.footer__return {
  margin-left: auto;
  cursor: pointer;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin: 26px 0;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social img {
  width: 30px;
}

.footer__slogan {
  position: absolute;
  opacity: 0.1;
  font-size: 5vw;
  margin-top: 70px;
  right: 20%;
  font-weight: 100;
}

.footer__copyright {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
}

.footer__copyright a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f2f2f2;
}

@media (max-width: 1024px) {
  .footer__slogan {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 40px;
  }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 6%;
  }
  .footer__column {
    margin: 0 auto;
  }
  .footer__tags {
    display: none;
  }
  .footer__return {
    position: absolute;
    right: 30px;
  }
}

.order-form__container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  max-height: auto;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.16);
}

.order-form__content {
  margin: 10px 0 0;
}

.order-form__content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order-form__content label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 6px 0;
}

.order-form__content input {
  width: 200px;
}

.order-form__content .order-form__content__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.order-form__content .order-form__content__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 6px;
}

.order-form__content .order-form__content__checkbox label {
  display: block;
}

.order-form__content .order-form__content__checkbox label a {
  color: #c80000;
}

.order-form__content .order-form__content__checkbox input {
  width: auto;
}

.order-form__content--error {
  background-color: pink;
  border: 1px solid grey;
}

.cookies-popup__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  left: 80px;
  bottom: 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  height: auto;
  width: 200px;
  padding: 10px;
  border-radius: 6px;
  font-weight: 100;
  gap: 22px;
}

.cookies-popup__container span {
  text-align: justify;
  text-justify: inter-word;
}

.cookies-popup__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cookies-popup__text a {
  color: pink;
}

.cookies-popup__close {
  font-weight: 500;
  cursor: pointer;
}

.loading-spinner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
}

.loading-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading-spinner div {
  -webkit-animation: loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.loading-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #3a3939;
  margin: -4px 0 0 -4px;
}

.loading-spinner div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.loading-spinner div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.loading-spinner div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.loading-spinner div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.loading-spinner div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.loading-spinner div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.loading-spinner div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.loading-spinner div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.loading-spinner div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.loading-spinner div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.loading-spinner div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.loading-spinner div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.loading-spinner div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.loading-spinner div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.loading-spinner div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.loading-spinner div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes loading-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.alert__container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 12vh;
  right: 10vw;
  font-size: 14px;
  width: auto;
  padding: 20px 50px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  z-index: 10;
}

.alert__container--standard {
  position: absolute;
  top: 20vh;
  left: 10vw;
}

.alert__container--red {
  background: rgba(255, 190, 190, 0.8);
  border: 1px solid #878787;
}

.alert__container--green {
  background: rgba(150, 255, 134, 0.8);
  border: 1px solid #878787;
}

.alert__autohide {
  -webkit-animation: cssAnimation 0s ease-in 2s forwards;
          animation: cssAnimation 0s ease-in 2s forwards;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    border: 0;
    opacity: 0;
  }
}

@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Prompt", sans-serif;
  color: #3a3939;
  background-color: #3a3939;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-weight: 200;
}

h1 {
  font-weight: 200;
}

h2 {
  font-size: 24px;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: #3a3939;
}

ul {
  padding: 0;
}

img {
  pointer-events: none;
}

button {
  all: unset;
  text-align: center !important;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-right: 8px;
}

.btn--primary {
  background-color: rgba(0, 255, 0, 0.5) !important;
}

.btn--secondary {
  background-color: rgba(0, 0, 0, 0.03) !important;
}

.btn--back {
  all: unset !important;
}

.hidden {
  display: none;
}

.form__error-message {
  color: red;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 2px solid slategray;
}
/*# sourceMappingURL=style.css.map */