// general

@import './reset'; // global css reset
@import './variables'; // style variables container for colors, fonts and other global styles


// pages
@import '../pages/styles/_SectionWelcome';
@import '../pages/styles/_SectionContent';
@import '../pages/styles/_About';
@import '../pages/styles/_Shop';
@import '../pages/styles/_Album';

// components
@import '../components/styles/_Navbar';
@import '../components/styles/_Footer';
@import '../components/styles/_LoadingSpinner';
@import '../components/styles/_Alert';


// html * {
//     outline: 1px solid white;
// }

body {
    font-family: $--font-main;
    color: $--c-black;
    background-color: $--c-white;
    min-width: 600px;
    // overflow: hidden;
    scroll-behavior: smooth;
}

h1 {
    font-weight: thin;
}

a {
    text-decoration: none;
    color: $--c-black;
}

ul {
    padding: 0;
}