/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.section__welcome {
  -webkit-animation: 3s ease-out 0s 1 fadeIn;
          animation: 3s ease-out 0s 1 fadeIn;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cover__icons {
  position: fixed;
  bottom: 10vh;
  right: 5vw;
}

.cover__icons .cover__icons__row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

.cover__icons .cover__icons__social img {
  height: 50px;
}

.cover__image {
  height: 100vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.cover__icons__nav--left,
.cover__icons__nav--right {
  opacity: 0.7;
}

.control-arrow {
  width: 80px;
}

.control-dots li .dot {
  height: 10px;
  border: 3px solid white !important;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section__photos {
  padding: 0;
  margin: 0;
  background-color: #dedede;
}

.section__photos__images img {
  padding: 0px !important;
  height: 100vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__photos > .section__photos__images:not(:first-child) {
  padding: 200px 150px;
}

.section__photos__see-more {
  position: fixed;
  bottom: 10vh;
  right: 5vw;
}

.section__photos__see-more .section__photos__see-more__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

.section__photos__see-more .section__photos__see-more__icon img {
  height: 50px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section__about {
  background-color: #dedede;
  color: #3a3939;
  height: auto;
  padding: 300px 200px 0;
}

.section__about__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 80px;
}

.section__about__main .section__about__image--main {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.section__about__contact {
  margin: 80px 0 10px;
  padding: 30px 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.section__about__contact h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.section__about__contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__about__contact__row h3 {
  font-size: 28px;
  font-weight: 400;
  margin-left: 12px;
}

.section__about__contact__row img {
  height: 36px;
}

.section__about__content {
  margin-bottom: 100px;
}

.section__about__content p {
  font-size: 15px;
}

.section__about__image--secondary {
  padding: 180px 0;
  border-radius: 14px;
  width: 100%;
}

.shop__container {
  background-color: #dedede;
  color: #3a3939;
  height: auto;
  padding: 180px 100px 200px;
}

.shop__container h1 {
  font-weight: 400;
}

.shop__toolbar {
  position: fixed;
  top: 0px;
  padding: 140px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #dedede;
  width: 100vw;
  z-index: 3;
}

.shop__toolbar h2 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}

.shop__toolbar .shop__toolbar__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  margin-bottom: 20px;
}

.shop__toolbar .shop__toolbar__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.shop__toolbar .shop__toolbar__element span {
  font-size: 18px;
  font-weight: 200;
}

.shop__toolbar .shop__toolbar__element img {
  height: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 4px;
}

.shop__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 100px 0px;
  margin-left: 10px;
  margin-top: 140px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.shop__card {
  width: 240px;
  height: 180px;
  opacity: 0.9;
}

.shop__card img {
  width: 220px;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
}

.shop__card .shop__card__title {
  font-size: 18px;
}

.shop__card .shop__card__date {
  font-size: 14px;
  font-weight: 100;
}

.shop__card:hover {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.album__container {
  background-color: #dedede;
  color: #3a3939;
  height: auto;
  padding: 180px 100px 200px;
}

.album__container h1 {
  font-weight: 400;
}

.album__container h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 8px 0 26px;
}

.album__toolbar {
  position: fixed;
  top: 0px;
  padding: 120px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #dedede;
  width: 100vw;
  z-index: 3;
}

.album__toolbar .album__toolbar__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  margin-bottom: 10px;
}

.album__toolbar .album__toolbar__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.album__toolbar .album__toolbar__element span {
  font-size: 18px;
  font-weight: 200;
}

.album__toolbar .album__toolbar__element img {
  height: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 4px;
}

.album__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 6px;
  margin-left: 6px;
  margin-top: 140px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.album__card {
  width: 20vw;
  height: 220px;
  opacity: 0.9;
}

.album__card img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
}

.album__card:hover {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.album__preview-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.album__preview-image img {
  width: 70vw;
  margin: 0 15%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: .95;
}

.navbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 40px 120px;
  width: 100vw;
  color: #dedede;
  z-index: 10;
}

.navbar .navbar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 7vw;
  font-weight: 500;
  font-size: 18px;
}

.navbar .navbar__logo {
  height: 60px;
  width: 200px;
}

.navbar .navbar__section-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  width: 80px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.navbar .navbar__section-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #dedede;
  text-decoration: none;
}

.navbar .navbar__section-link a:hover {
  color: #c8c8c8;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-shadow: 0px 0px 1px #0b2096;
}

.navbar .navbar__section-link__shop {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 2px 30px;
}

.navbar .navbar__shop-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: auto;
  height: 40px;
  cursor: pointer;
  gap: 10px;
}

.navbar--dark {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, 0.4)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
  color: #3a3939;
}

.navbar--dark a {
  color: #3a3939 !important;
}

.navbar--dark a:hover {
  color: #3a3939;
}

.navbar--dark .navbar__logo {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.navbar--dark .navbar__section-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  width: 80px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
}

.navbar--dark .navbar__section__dropdown:hover .navbar__section__dropdown-link {
  background-color: rgba(208, 208, 208, 0.3);
  color: #3a3939;
  font-weight: 500;
}

.navbar__section__dropdown {
  padding: 0;
  margin: 0 20px 0 0;
  width: 110px;
  -webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  cursor: pointer;
}

.navbar__section__dropdown-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
  font-weight: 300;
  margin-top: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar__section__dropdown:hover .navbar__section__dropdown-link {
  opacity: 1;
  background-color: rgba(40, 40, 40, 0.9);
  padding: 4px;
}

.navbar__darkmode-toggle {
  height: 28px;
}

.footer {
  height: 400px;
  padding: 60px 200px;
  background-color: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #dedede;
  font-size: 14px;
  line-height: 40px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  width: 220px;
}

.footer__column {
  text-align: center;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin: 26px 0;
  height: 40px;
  width: 220px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social img {
  width: 30px;
}

.footer__return-to-top {
  cursor: pointer;
}

.footer__copyright {
  margin: 120px auto 0;
  bottom: 0px;
  opacity: 0.6;
  font-size: 14px;
}

body {
  font-family: "Prompt", sans-serif;
  color: #3a3939;
  background-color: black;
  min-width: 600px;
  scroll-behavior: smooth;
}

h1 {
  font-weight: thin;
}

a {
  text-decoration: none;
  color: #3a3939;
}
/*# sourceMappingURL=style.css.map */