.cookies-popup__container {
  display: flex;
  flex-direction: row;
  position: fixed;
  right: 0px;
  bottom: 0px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  height: auto;
  width: 100vw;
  padding: 10px;
  border-radius: 6px;
  font-weight: 100;
  gap: 22px;

  span {
    text-align: justify;
    text-justify: inter-word;
  }
}

.cookies-popup__text {
  display: flex;
  flex-direction: column;
  

  a {
    color: pink;
  }
}

.cookies-popup__close {
  font-weight: 500;
  cursor: pointer;
}
